<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="x-ua-compatible" content="IE=edge" />
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">reCICLO</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/core.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/datepicker.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
	<style>
#map {
	height: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
</style>
	<nav id="header"
		class="navbar navbar-expand-lg sticky-top flex-md-nowrap p-0">
		<div class="col-md-2 brand-logo h-100">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><span class="nav-link text-white">
						<img th:src="@{img/logo_horizontal_blanco.png}" alt="reCICLO"
						width="150px" />
				</span></li>
			</ul>
		</div>
		<img th:src="@{img/logo_nombre.png}" alt="reCICLO" height="17px"
			width="86px" style="margin-left: 1%;" />
		<div class="ml-auto">
			<ul class="navbar-nav">
				<li class="nav-item dropdown ml-auto"><a
					class="nav-link dropdown-toggle text-white" data-toggle="dropdown"
					href="#" th:text="${session.user}"><i
						class="fas fa-user-circle"></i>&ensp;</a>
					<div id="profile-dropdown"
						class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item text-dark" th:href="@{/logout}"><i
							class="fas fa-sign-out-alt"></i>&ensp;Logout</a>
					</div></li>
			</ul>
		</div>
	</nav>
	<div class="row col-12" style="padding: 0; margin: -3px 0px 0px 0px;">
		<div id="container" class="col-md-8"
			style="padding: 0; margin: 0; display: flex">
			<div class="align-bottom col-md-11"
				style="margin: 2vh; border: 100px">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link active"
						id="details-tab" data-toggle="tab" href="#details" role="tab"
						aria-controls="details" aria-selected="true">GENERAL</a></li>
					<li class="nav-item"><a class="nav-link" id="attachments-tab"
						data-toggle="tab" href="#attachments" role="tab"
						aria-controls="attachments" aria-selected="false">HISTORIAL</a></li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="details" role="tabpanel"
						aria-labelledby="details-tab"></div>
					<div class="tab-pane fade" id="attachments" role="tabpanel"
						aria-labelledby="attachments-tab">

						<div class="container">
							<div class="row">
								<label class="col-md-1">Tipo de residuo:</label> <select
									class="col-md-2">
									<option value="envases">Envases</option>
									<option value="desecho">Desecho comun</option>
									<option value="papel">Papel y Cartón</option>
									<option value="vidrio">Vidrio</option>
									<option value="organico">Orgánico</option>
								</select> <label class="col-md-1">C.P:</label> <input class="col-md-1"
									type="text" /> <label class="col-md-1">Fecha desde:</label> <input
									class="col-md-1" type="date" /> <label class="col-md-1">Hasta:</label>
								<input class="col-md-1" type="date" />
								<button class="col-md-2">Buscar</button>
							</div>
						</div>

						<table class="table table-striped">
							<thead class="thead-dark">
								<tr>
									<th>ID contenedor</th>
									<th>Tipo Residuo</th>
									<th>Direccion</th>
									<th>CP</th>
									<th>nº usado</th>
									<th>Litros reciclados</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>3526</td>
									<td>Vidrio</td>
									<td>C/ Blasco ibañez,3</td>
									<td>11032</td>
									<td>250</td>
									<td>700l</td>
								</tr>
								<tr>
									<td>2243</td>
									<td>Papel y Cartón</td>
									<td>Av. Tralará</td>
									<td>12036</td>
									<td>1047</td>
									<td>12kl</td>
								</tr>
								<tr>
									<td>5132</td>
									<td>Papel y Cartón</td>
									<td>C/ Arquitecto guardiola</td>
									<td>03013</td>
									<td>884</td>
									<td>844l</td>
								</tr>
								<tr>
									<td>4123</td>
									<td>Envases</td>
									<td>Av. Xarxa, 44</td>
									<td>11445</td>
									<td>65</td>
									<td>2000l</td>
								</tr>
								<tr>
									<td>6454</td>
									<td>Desecho común</td>
									<td>C/ Oriente próximo</td>
									<td>0663</td>
									<td>1047</td>
									<td>6kl</td>
								</tr>
								<tr>
									<td>5243</td>
									<td>Desecho Común</td>
									<td>C/ Estrella Mandarín,31</td>
									<td>1445</td>
									<td>655</td>
									<td>5kl</td>
								</tr>
								<tr>
									<td>0987</td>
									<td>Envases</td>
									<td>C/ Castorcillo mono, 12</td>
									<td>12036</td>
									<td>1047</td>
									<td>12kl</td>
								</tr>
								<tr>
									<td>6785</td>
									<td>Papel y Cartón</td>
									<td>Av. Quehago JOAQUI, sn</td>
									<td>12036</td>
									<td>70</td>
									<td>88l</td>
								</tr>
								<tr>
									<td>9574</td>
									<td>Organico</td>
									<td>C/ Feliz de verdad, 22</td>
									<td>03542</td>
									<td>09</td>
									<td>400L</td>
								</tr>
								<tr>
									<td>2048</td>
									<td>Envases</td>
									<td>Av. Tralará</td>
									<td>12036</td>
									<td>1047</td>
									<td>12kl</td>
								</tr>
								<tr>
									<td>8888</td>
									<td>Desecho común </td>
									<td>C/ Común cerdito</td>
									<td>52036</td>
									<td>1255</td>
									<td>88kl</td>
								</tr>
								<tr>
									<td>6535</td>
									<td>Papel y Cartón</td>
									<td>Av. Bosques de la cruz, 22</td>
									<td>12050</td>
									<td>999</td>
									<td>4002l</td>
								</tr>


							</tbody>
						</table>

					</div>
				</div>
			</div>
			<a href="#" id="opener"
				style="margin-left: auto; margin-right: -27px; margin-top: 15vh; z-index: 20;"><i
				style="color: #fff" class="fas fa-caret-right fa-5x"></i></a>
		</div>
		<div id="map-container" class="col-md-4"
			style="z-index: 10; overflow: hidden; position: relative; height: 94vh; padding: 0; margin: 0;">
			<div id='mapShadow'
				style="position: absolute; background: #000; z-index: 0; height: 94vh; width: 100%; opacity: 0.1"></div>
			<div style="z-index: 5" id='map'></div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{js/jquery-3.4.1.min.js}"></script>
	<script type="text/javascript" th:src="@{js/home.js}"></script>
	<script type="text/javascript" th:src="@{js/all.js}"></script>
	<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBa9qxGXG_2yNxfk138oYxppNpEGGvrleA&callback=initMap"
		async defer></script>
</body>
</html>